* {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    text-align: justify;
}
body {
    background-color: rgb(134, 134, 146);
}
h1 {
    width: 100%;
    background-color: red
    color: white;
}
h2 {
    color: black;
}
}
h4 {
    color: black;
}
p {
    color: black;
    width: 450px;
}
