* {
    font-family: sans-serif;
    text-align: center;
    text-align: justify;
}
body {
    background-color: rgb(134, 134, 146);
}
h1 {
    color: white;
}
h2 {
    color: white;
}
p {
    color: white;
}
