{% extends 'base.html' %} 
{% load static %} 
{% block title %} 
    404 - {{ block.super }} 
{% endblock title %} 

{% block content %}
    <style>
        html,
        p,
        img,
        h4,
        section {
            text-align: center;
        }
    </style>
<h1>404 Error</h1>
<p>You've run into a page that doesn't exist! So here's some war pugs to keep you company on your journey home.</p>
    <p>
        <div align="center">
            <img src="{% static 'images/warpug.jpg' %}">
        </div>
    </p>

{% endblock content %}