{% load static %}
<!doctype html>
<html>
    <head>
        <title><!-- we want to override page titles -->
            {% block title %}
                The Playbook
            {% endblock title %}    
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        {% block header %}{% endblock header %}
    </head>
    <body>
        <header>
            <h1>Navigation</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'setup' %}">Setup</a>
                    </li>
                    <li>
                        <a href="{% url 'development' %}">Development</a>
                    </li>
                    <li>
                        <a href="{% url 'database' %}">Database</a>
                    </li>
                    <li>
                        <a href="{% url 'accessmanagement' %}">Access Management</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li>
                        <a href="{% url 'reference' %}">Reference</a>
                    </li>
                    <li>
                        <a href="{% url 'downloads' %}">Downloads</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- as well as override content bits -->
        {% block content %}{% endblock content %}
        {% block footer %}{% endblock footer%}
    </body>
</html>