{% load static %}
<!doctype html>
<html>
    <head>
        <title><!-- we want to override page titles -->
            {% block title %}
                The Playbook
            {% endblock title %}    
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
        
            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        
            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>

        {% block header %}{% endblock header %}
    </head>
    <body>
        <header>
            <h1>Navigation</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'browse' %}">Browse Concepts</a>
                    </li>
                    <!-- <li>
                        <a href="{% url 'setup' %}">Getting Started</a>
                    </li> -->
                    <!-- <li>
                        <a href="{% url 'development' %}">Development</a>
                    </li> -->
                    <!-- <li>
                        <a href="{% url 'webdesign' %}">Web Design</a>
                    </li>
                    <li>
                        <a href="{% url 'appdesign' %}">App Design</a>
                    </li> -->
                    <!-- <li>
                        <a href="{% url 'database' %}">Database</a>
                    </li> -->
                    <!-- <li>
                        <a href="{% url 'accessmanagement' %}">User Access</a>
                    </li> -->
                    <!--<li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>-->
                    <li>
                        <a href="{% url 'reference' %}">Reference</a>
                    </li>
                    <li>
                        <a href="{% url 'downloads' %}">Downloads</a>
                    </li>
                    <li>
                        <a href="{% url 'commands' %}">Common Commands</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'auth_logout' %}">Logout</a>    
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'auth_login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'registration_register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <!-- as well as override content bits -->
        {% block content %}{% endblock content %}
        {% block footer %}Footer Placeholder{% endblock footer%}
    </body>
</html>