{% extends 'base.html' %}
{% load static %}
{% block title %}
    Common Commands - {{ block.super }}
{% endblock title %}


{% block content %}
<h1>Commands</h1>

<font color="white">

    <h2>Python</h2>
    <table>
        <tr>
            <th>Command</th>
            <th>Description</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
    </table>
    
    <h2>Django</h2>
    <table>
        <tr>
            <th>Command</th>
            <th>Description</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
    </table>
       
    
    <h2>Git</h2>
    <table>
        <tr>
            <th>Command</th>
            <th>Description</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <h2>Docker</h2>
    <table>
        <tr>
            <th>Command</th>
            <th>Description</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ </td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <h2>Homebrew</h2>
    <table>
        <tr>
            <th>Command</th>
            <th>Description</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td>$ brew help</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ brew search</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ brew install [xxxxxx]</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$ brew update</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>$</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    
</font>
{% endblock content %}
