{% extends 'base.html' %}
{% load static %}
{% block title %}
    Downloads - {{ block.super }}
{% endblock title %}


{% block content %}
    <style>
        html,
        p,
        img,
        ul,
        li {
            text-align: center;
            color: black;
        }
    </style>
<h1>Downloads</h1>
<font color="white">

    <p>Many of the following downloads can be installed directly from the Command Line in Terminal.</p>

    <h2>Links</h2>
    <p><a href="https://www.python.org/downloads/" target="_blank">Python</a> programming language</p>
    <p><a href="https://www.djangoproject.com/download/" target="_blank">Django</a> Python Web Framework</p>
    <p>NEED TO ADD DOCKER</p>
    <p><a href="https://brew.sh/" target="_blank">Homebrew</a> package manager for macOS</p>
    <p><a href="https://www.panic.com/transmit/" target="_blank">Transmit</a> file transer for macOS</p>
    <p><a href="https://www.getpostman.com/" target="_blank">Postman</a> API development environment</p>
    <p><a href="https://www.jetbrains.com/pycharm/" target="_blank">PyCharm</a> Python IDE</p>
    <p><a href="http://gitx.github.io/" target="_blank">GitX</a> an open source Git GUI for macOS</p>
    <p><a href="https://www.iterm2.com/" target="_blank">iTerm2</a> a Terminal emulator with additional features</p>
    



    
</font>
{% endblock content %}
