{% extends 'base.html' %}
{% load static %}
{% block title %}
    Downloads - {{ block.super }}
{% endblock title %}


{% block content %}
<h1>Downloads</h1>
<font color="white">
    <h2>Using Command Line</h2>
    <p></p>

    <h2>Links</h2>
    <p><a href="https://www.python.org/downloads/" target="_blank">Python</a> programming language</p>
    <p><a href="https://www.djangoproject.com/download/" target="_blank">Django</a> Python Web Framework</p>
    <p><a href="https://brew.sh/" target="_blank">Homebrew</a> package manager for macOS</p>
    <p><a href="http://gitx.frim.nl/" target="_blank">GitX</a> a git GUI made for Mac OS X</p>
    <p><a href="https://www.panic.com/transmit/" target="_blank">Transmit</a> file transer for macOS</p>
    <p><a href="https://www.getpostman.com/" target="_blank">Postman</a> API development environment</p>
    <p><a href="https://www.jetbrains.com/pycharm/" target="_blank">PyCharm</a> Python IDE</p>



    
</font>
{% endblock content %}
