{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}


{% block content %}

        <h1>The Playbook</h1>
        <p>Django and Python Deverloper Playbook for Normies</p>

        <p>This site has been designed to provide an overview of rapid prototyping using various developer tools, with a primary focus on Django and Python.</p>
        
        <p>
            <img src="{% static 'images/django-hexbin.png' %}" alt=""/>
            <img src="{% static 'images/python_icon.png' %}" alt="" />
        </p>







        <!--This is a test of humanize -->
        <p>there are {{ number|apnumber }} dogs!</p>
        <!--This is a test of template tags -->
        <p>This is my name: {{ thing|truncatewords:1 }}</p>
        <!--This is a test of lorem -->
        <p>{% lorem 2 p %}</p>
        <font color="white">
        

{% endblock content %}
