{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}


{% block content %}

        <h1>The Playbook</h1>
        <p>Django and Python Deverloper Playbook for Normies</p>

        <p>This site has been designed to provide an overview of rapid prototyping using various developer tools, with a primary focus on Django and Python.</p>
        
        <p>
            <img src="{% static 'images/django-hexbin.png' %}" alt="django"/>
            <img src="{% static 'images/python_icon.png' %}" alt="python" />
        </p>







        <!--This is a test of humanize -->
        {% for concept in concepts %}
        <h2>{{ concept.name }}</h2>
        <p>{{ concept.description }}</p>
        {% endfor %}


        <p>{% lorem 2 p %}</p>
       
        

{% endblock content %}
