{% extends 'base.html' %}
{% load static %}
{% block title %}
    Reference - {{ block.super }}
{% endblock title %}


{% block content %}
    <style>
        html,
        p,
        img, ul, li {
            text-align: center;
        }
    </style>
<h1>Reference</h1>
    <p>A list of sites, tutorials, forums and books curated to augment the collected works within this playbook.</p>
<font color="white">

    <h2>Websites</h2>
        <p>
            <a href="https://www.python.org/" target="_blank">Python</a>
        </p>
        <p>
            <a href="https://www.python.org/dev/peps/pep-0008/" target="_blank">Python Style Guide (Pep 8)</a>
        </p>
        <p>
            <a href="https://pypi.org/" target="_blank">PyPi (Python Package Index)</a>
        </p>
        <p>
            <a href="https://www.djangoproject.com/" target="_blank">Django</a>
        </p>
        <p>
            <a href="https://www.docker.com/" target="_blank">Docker</a>
        </p>
        <p>
            <a href="https://github.com/" target="_blank">GitHub</a>
        </p>
        <p>
            <a href="https://cloudacademy.com/blog/zappa-or-how-to-go-serverless-with-django/" target="_blank">Zappa</a>
        </p>
        <p>
            <a href="https://www.w3schools.com/html/default.asp" target="_blank">HTML and CSS</a>
        </p>
        <p>
            <a href="https://django-bootstrap3.readthedocs.io/en/latest/installation.html" target="_blank">Bootstrap for Django</a>
        </p>
        <p>
            <a href="https://getbootstrap.com/docs/3.3/components/" target="_blank">Bootstrap Components</a>
        </p>
        <p>
            <a href="https://code.jquery.com/" target="_blank">jQuery CDN</a>
        </p>
        <p>
            <a href="https://www.bootstrapcdn.com/" target="_blank">Bootstrap CDN</a>
        </p>
        <p>
            <a href="https://developers.google.com/chart/interactive/docs/quick_start">Google Charts</a>
        </p>
        <p>
            <a href="https://github.com/monim67/django-bootstrap-datepicker-plus/blob/master/README.rst">Date Picker</a>
             <font color="black">(Will also need to run '<b>$ pip install django-bootstrap4</b>')</font color>
        </p>
        
    
    <h2>Tutorials</h2>
        <p>
            <a href="https://hellowebbooks.com/" target="_blank">Hello Web App</a>
        </p>
        <p>
            <a href="https://tutorial.djangogirls.org/en/" target="blank">Django Girls</a>
        </p>
        <p>
            <a href="https://www.packtpub.com/" target="_blank">Packt Publishing</a>
        </p>
        <p>
            <a href="https://www.programiz.com/python-programming" target="_blank">Python by Programiz</a>
        </p>
        <p>
            <a href="https://simpleisbetterthancomplex.com/" target="_blank">simple is better than complex</a>
        </p>
        
        <h2>Forums</h2>
        <p>
            <a href="https://www.djangoproject.com/community/" target="_blank">Django Community</a>
        </p>
        <p>
            <a href="http://discuss.hellowebapp.com/" target="_blank">Hello Web Forum</a>
        </p>
        <p>
            <a href="https://eric.sau.pe/reportlab-and-django-part-1-the-set-up-and-a-basic-example/" 
            target="_blank">Report Lab for Django</a>
        </p>
        <p>
            <a href="http://django-chartit.mrsenko.com/demo/" target="_blank">Django Chartit</a>
        </p>
        <p>
            <a href="https://matplotlib.org/" target="_blank">Matplotlib</a>
        </p>
        <p>
            <a href="https://plot.ly/python/pie-charts/" target="_blank">Plotly</a>
        </p>
        <p>
            <a href="https://www.youtube.com/watch?v=zBRxUIYvNX4" target="_blank">smashtheshell Nav Tutorial</a>
        </p>
       
    
    <h2>Books</h2>
       <font color="black">
        <p>
            <ul>
                <li>HTML & CSS: Design and Build Websites by Jon Duckett</li>
                <li>JavaScript & JQuery: Interactive Front-end Web Development by Jon Duckett</li>
                <li>Learning Website Development with Django by Ayman Hourieh</li>
                <li>JSON at Work: Practical Data Integration for the Web by Tom Marrs</li>
                <li>Python Crash Course by Eric Matthes</li>
            </ul>
        </p>
        <p>
            <ul>
                <li><a href="https://gumroad.com" target="_blank">Gumroad</a><br>
                    <ul>
                        <li>Hello Web App by Tracy Osborn</li>
                        <li>Python 101 & 201 by Michael Driscoll</li>
                    </ul>
                </li>
            </ul>
        </p>
        </font>     
{% endblock content %}
