{% extends 'base.html' %}
{% load static %}
{% block title %}
    SSH Key Creation - {{ block.super }}
{% endblock title %}


{% block content %}
<h4>SSH Key Creation</h4>
<p>Setup an SSH Key using Terminal: <a href="https://confluence.atlassian.com/bitbucket/set-up-an-ssh-key-728138079.html#SetupanSSHkey-ssh2" target="_blank">Set up an SSH Key</a>
    <ul><li>NOTE: Can leave passphrase blank</li></ul>
    <ul><li>NOTE: SSH key will automatically be placed int he proper folder location</li></ul>
    <ul>
        <li>NOTE:
            <ul>
                <li>The contents of the file
                    <b>~/.ssh/id_rsa.pub</b> is the public key
                    <ul>
                        <li>
                            <b>$ cat ~/.ssh/id_rsa.pub</b> to view the public key</li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>The contents of the file
                    <b>~/.ssh/id_rsa</b> is the private key</b>
                </li>
            </ul>
        </li>
    </ul>
  

{% endblock content %}



