{% extends 'base.html' %} 
{% load static %} 
{% block title %} 
    Browse - {{ block.super }} 
{% endblock title %}

{% block content %}
    <style>
        html,
        p,
        ul,
        li,
        h4 {
            text-align: center;
        }
    </style>

    <h1>
        Browse Concepts {% if initial %} Starting with
        '{{ initial|title }}'{% endif %}
    </h1><br>
    
    <form role="form" action="" method="post">
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="create" class="btn btn-info btn-lg">Create New</button>
    </form>

    <!-- <a href="{% url 'create_concept' %}" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-pencil" style="color:white"></span>
        <font color="white"> Edit</font>
    </a> -->

    <!-- {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
    <a href="{% url 'browse_by_name' initial=letter %}"
        {% if initial == letter %}class="active"{% endif %}>
        {{ letter|upper }}
    </a>
    {% endfor %} -->

    <ul>
        {% for concept in concepts %}
        <li><a href="{% url 'concept_detail' slug=concept.slug %}">
            {{ concept.name }}
        </a></li>
        {% empty %}
        <li>Sorry, no results!</li>
        {% endfor %}
    </ul><br>
{% endblock content %}