{% extends 'base.html' %}
{% block title %}
    {{ concept.name }} - {{ block.super }}
{% endblock title %}


{% block content %}
    
        <h1>{{ concept.name }}</h1>
        <p>{{ concept.description }}</p>
        <!-- <p>{{ concept.user }}</p> -->
    

        <p>Django and Python Deverloper Concepts for the Noob</p>

        
        <!-- {% if user == concept.user %}
            <p>
                <a href="{% url 'edit_concept' slug=concept.slug %}"> Edit me!</a>
            </p>
        {% endif %} -->

        <p>{% lorem 2 p %}</p>
       
        

{% endblock content %}
