{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block title %}
    {{ concept.name }} - {{ block.super }}
{% endblock title %}

{% block jumbotron %}
<div class="jumbotron">
        {{ concept.name }}
</div>
{% endblock jumbotron %}

{% block content %}

    
        <!-- <h1>{{ concept.name }}</h1> -->

                <p>
                    <a href="{% url 'browse' %}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-arrow-left" style="color:white"></span></a>
                    <a href="{% url 'edit_concept' slug=concept.slug %}" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-pencil"  style="color:white"></span><font color="white"> Edit</font></a>
                         
                </p>
        <h3>Subject Area:</h3>
            <p>{{ concept.area }}</p>
        <h3>Concept Description:</h3>
            <p>{{ concept.description|safe }}</p> <!--Adding 'safe' to the field tells this it's okay to inject HTML-->
        <!-- <p>{{ concept.user }}</p> -->
        <h3>Concept:</h3>
            <p>{{ concept.long_description|safe }}</p>
        <h3>Documents:</h3>
            </p>{{ concept.example|safe }}</p>

        <!-- <p>{% lorem 2 p %}</p> -->


{% endblock content %}
