{% extends 'base.html' %} 
{% load static %} 
{% block title %} 
    Create a Concept - {{ block.super }} 
{% endblock title %} 

{% block content %}
    <h1>Create a Concept</h1>

            <button onclick="goBack()">Cancel</button>
            
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>

    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
{% endblock content %}